---
import Kas from "../../assets/images/kas.svg";
---

<div
  class="text-white text-sm  bg-[#074780]  hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"><svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 18V14M6 14H8L13 17V7L8 10H5C3.89543 10 3 10.8954 3 12V12C3 13.1046 3.89543 14 5 14H6ZM17 7L19 5M17 17L19 19M19 12H21" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span>
  <a href="https://www.kas.de/es/web/parteien-lateinamerika" class="text-white font-medium"
    >Astro 4.4 is now available! »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="If you like AstroWind, give us a star."
    href="https://github.com/onwidget/astrowind"
  >
    <img
      src={Kas.src}
      alt="Follow @onWidget"
      width="84"
      height="30"
    />
  </a>
</div>