---
import '../../assets/styles/custom.css';
---

<div class="relative h-80 bg-gray-100 dp-banner">
  <div class="">
    <div class="">
      <div class="px-64">
        <div class="container mx-auto grid  grid-cols-12 gap-4">
          <div class="col-span-6 ">
            <h2 class="text-2xl font-bold mb-2 text-pink-600">DP Campus</h2>
            <p class="text-gray-700 mb-4">
              DP Campus es un programa de eventos regionales de formación y capacitación para influenciadores políticos que
              aspira a promover una política responsable y a fortalecer la democracia en América Latina.
            </p>
            <button class="bg-pink-600 text-white font-bold py-2 px-4 rounded mr-2">Ver más</button>
          </div>
          <div class="col-span-6 ">
            <img
            class=""
            src="https://dialogopolitico.org/wp-content/uploads/2022/09/dp-campus-block.png.webp"
            alt="DP Campus"
          />
          </div>
        </div>
       
      </div>
    </div>

  
  </div>
</div>

<div class="relative h-64 bg-pink-100 dp-banner">
  <div class="bg-pink-600 flex items-center justify-center max-w-screen-lg mx-auto">
    <img
      src="https://dialogopolitico.org/wp-content/uploads/2022/02/icon_dp_enfoque.svg"
      class="h-8"
      alt="dp enfoque logo"
    />
  </div>
  <div class=" ">   
    <div class="">
      <div class="px-64">
        <div class="container mx-auto grid  grid-cols-12 gap-4">
          <div class="col-span-4 ">
            <img src="https://dialogopolitico.org/wp-content/uploads/2023/11/DP-Enfoque-14.-Asia-y-America-Latina.-2023.-Dialogo-Politico.jpg.webp" alt="Asia y America latina" class=""/>
          </div>
          <div class="col-span-8 "><h2 class="text-2xl font-bold mb-2 text-pink-600">
            Asia y América Latina: vínculos democráticos y avances autoritarios
          </h2>
          <p class="text-gray-700 mb-4">
            por Alejandro Lamarque, Max Povse, Nadia Radulovich, Mariano Statello | Nov 10, 2023 Comprende los vínculos
            entre el Asia democrática y los países latinoamericanos. ¿Qué tenemos para potenciar? Todas las claves aquí.
          </p></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
