---

---

<div class="relative h-64 bg-yellow-100">
  <div class="bg-yellow-600 flex items-center justify-center max-w-screen-lg mx-auto">
    <img
      src="https://dialogopolitico.org/wp-content/uploads/2022/02/icon_dp_podcast-white.svg"
      class="h-8"
      alt="dp podcast logo"
    />
  </div>
  <div class="">
    <div class="">
      <div class="px-64">
        <div class="container mx-auto grid grid-cols-12 gap-4">
          <div class="col-span-4">
            <img
              src="https://dialogopolitico.org/wp-content/uploads/2024/03/04-BL-China-GuerraFria-WEB-1.jpg.webp"
              alt="China guerra fria"
              class=""
            />
          </div>
          <div class="col-span-8">
            <h2 class="text-2xl font-bold mb-2 text-yellow-600">China: ¿Una nueva guerra fría?</h2>
            <p class="text-gray-700 mb-4">
              por Redacción | Mar 4, 2024 El podcast de Bajo la lupa analiza la relación de China con Occidente, su
              poder tecnológico, ambiciones militares y cambio de estrategia respecto al poder mundial.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
