---
import '../../assets/styles/custom.css';
---

<div class="relative h-64">
  <svg class="object'cover" height="300" viewBox="0 0 616.18521 87.312498" version="1.1" id="svg5">
    <sodipodi:namedview
      id="namedview7"
      pagecolor="#ffffff"
      bordercolor="#000000"
      borderopacity="0.25"
      inkscape:showpageshadow="2"
      inkscape:pageopacity="0.0"
      inkscape:pagecheckerboard="0"
      inkscape:deskcolor="#d1d1d1"
      inkscape:document-units="mm"
      showgrid="false"
      inkscape:zoom="0.9"
      inkscape:cx="21.666667"
      inkscape:cy="184.44444"
      inkscape:window-width="1536"
      inkscape:window-height="811"
      inkscape:window-x="-8"
      inkscape:window-y="34"
      inkscape:window-maximized="1"
      inkscape:current-layer="layer3"></sodipodi:namedview>
    <defs id="defs2"></defs>
    <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(1.4699077,-74.965276)">
      <path
        style="fill:#80a3c0;fill-opacity:1;stroke-width:0.448143"
        d="m 3.4258463,80.480316 95.3220247,-6.653322 177.586239,10.201762 180.1978,-8.871098 112.29716,11.532428 47.00812,-7.096877 -3.91734,79.839871 -79.65264,3.99199 -151.47062,-9.31465 -124.0492,7.98399 -154.08218,-4.87911 -104.4624871,7.09688 z"
        id="path1116"></path>
    </g>
    <g inkscape:groupmode="layer" id="layer3" inkscape:label="Layer 2" transform="translate(1.4699077,-74.965276)">
      <path
        style="fill:#004682;fill-opacity:1;stroke-width:0.448985"
        d="M 2.7914028,89.858044 136.59648,74.965276 l 142.32769,9.052468 126.13472,-2.628135 155.96391,6.424329 53.69248,-2.628135 -2.55681,67.163467 -74.14673,7.59239 -160.22519,-6.13232 -122.7257,8.46844 -168.747804,-10.51253 -87.7829537,6.42432 z"
        id="path1119"></path>
    </g>
  </svg>
  <div class="flex items-center justify-center">
    <div class="absolute inset-0 flex items-center justify-start">
      <div class="px-64">
        <p class="bg-gray-700 text-white mb-4">EDICIÓN ESPECIAL 2024</p>
        <h2 class="text-2xl font-bold mb-2 text-white">Claves para entender a China</h2>
        <button class="bg-orange-400 text-white font-bold py-2 px-4 rounded mr-2">Visitar</button>
        <button class="bg-orange-400 text-white font-bold py-2 px-4 rounded">English version</button>
      </div>
    </div>

    <img
      class="absolute top-1/2 right-8 transform -translate-y-1/2 w-44"
      src="https://dialogopolitico.org/wp-content/uploads/2024/01/Portada-en-espanol-scaled.webp"
      alt="Imagen pequeña"
    />
  </div>
</div>
